body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.arrow-container {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;
    grid-gap: 10px;
    margin-top: 40px;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 가운데에 Up/Down/Left/Right 버튼을 놓는 방법 */
/* (r2c2 = 가운데), 여기에 아무것도 두지 않고 상하좌우만 버튼 배치 */

button {
    width: 60px;
    height: 60px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

#my {
    width: 120px;
    height: 120px;
    font-size: 2em;
}


button:hover {
    background-color: #2980b9;
}

button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* grid layout에서 (row, column) 위치 지정 */
/* Up: (1,2) / Left: (2,1) / Right: (2,3) / Down: (3,2) */
#up {
    grid-area: 1 / 2;
}

#left {
    grid-area: 2 / 1;
}

#right {
    grid-area: 2 / 3;
}

#down {
    grid-area: 3 / 2;
}

#join-btn {
    height: 30px;
}

.button-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.box {
    margin-right: 10px;
}

.slider-container {
    margin-top: 20px;
    width: 200px;
}

input[type="range"] {
    width: 80%;
    height: 6px;
    border-radius: 3px;
    outline: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.noselect {
    user-select: none;
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
  }