<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi Carnival</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/login.js"></script>
</head>
<body>
    <h1>이름 입력</h1>
    <form action="/login" method="POST">
        <input type="text" name="username" id="username" placeholder="이름을 입력하세요">
        <button type="submit" id="join-btn">참가!</button>
    </form>
  </div>

</body>
</html>